.Map {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.columns {
  padding: 0 100px;
}

.header {
  align-items: center;
  .logo-company img {
    max-height: 100px;
  }
  .logo-app {
    text-align: center;
  }
}

.main-container {
  height: 100%;

  .side-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
