@import "../../styles/colors.scss";

.map,
.workers {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.columns {
  padding: 0 100px;
}

.header {
  align-items: center;
  .logo-company img {
    max-height: 100px;
  }
  .logo-app {
    text-align: center;
  }
}

.main-container {
  height: 100%;

  .side-panel {
    display: flex;
    flex-direction: column;
    height: calc(100% - 30px);
  }

  .content {
    height: calc(100% - 30px);
  }
}

.user-link {
  font-size: 0.75rem;
  text-align: right;

  .user-badge-info {
    display: inline-block;
    margin-top: 10px;
    vertical-align: top;
    line-height: 0.875rem;
    span {
      display: block;

      &.user-badge-info__username {
        color: $light-text;
      }
    }
  }

  .user-badge-image {
    display: inline-block;
    width: 42px;
    height: 42px;
    margin-left: 12px;
    background: $grey;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba($light-purple, 0.3);

    img {
      width: 42px;
      height: 42px;
    }
  }
}
