$link-color: #61dafb;
$secondary-color: #282c34;

.Site {
  text-align: center;
}

.Site-header {
  background-color: $secondary-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Site-link {
  color: $link-color;
}
