$grey: #f2f2f5;
$grey-purple: #9D9FB5;
$dark-purple: #373b62;
$medium-purple: #8083b7;
$light-purple: #7d7f9a;
$cyan: #0dcdb9;

$primary: $dark-purple;
$light-text: $light-purple;
$disabled-text: $grey-purple;
$link: $cyan;
$border: $grey;
