@import "../../../styles/colors.scss";

.user-new-image {
  background: $grey;
  border-radius: 50%;
  width: 132px;
  height: 132px;
  margin: 0 auto;

  // Alex
  cursor: pointer;

  p {
    font-size: 0.75rem;
    text-align: center;
    padding: 20px;
    line-height: 1rem;

    &:before {
      content: "";
      background: url(../../../assets/img/person.svg) no-repeat center center;
      display: block;
      width: 32px;
      height: 32px;
      margin: 0 auto;
    }
  }
}
