@import "../../styles/colors.scss";

.office-info {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  .tag {
    background: $light-text;
    color: white;
    height: 16px;
    width: auto;
    padding: 0 6px;
    margin-right: 8px;
    border-radius: 8px;
    font-weight: 700;
  }

  .office-info__legend {
    font-size: 0.875rem;
    font-weight: 500;
    color: $light-text;
  }

  button {
    margin-left: auto;
  }
}

.office-selector {
  margin-bottom: 16px;
  font-size: 1.125rem;

  .Dropdown-button {
    cursor: pointer;

    i {
      vertical-align: bottom;
    }
  }

  .dropdown-menu .dropdown-item {
    a {
      color: $link;
      font-weight: 500;
    }
  }
}

.floors {
  position: relative;
  overflow-y: auto;
  margin-bottom: 20px;
  padding: 2px;
}

.floor {
  position: relative;
  display: block;
  border: 1px solid $grey;
  border-radius: 6px;
  padding: 16px;
  margin-bottom: 12px;
  color: $dark-purple;
  min-height: 92px;

  .floor-header {
    font-weight: 100;
    font-size: 1.125rem;
  }

  .floor-actions {
    position: absolute;
    bottom: 12px;
    right: 12px;
  }

  button {
    background: none;

    &:hover {
      color: $light-purple;
    }

    i {
      font-size: 20px;
    }
  }
}

.floor--active {
  background: $dark-purple;
  color: white;

  &:hover {
    color: white;
  }

  button {
    color: $disabled-text;
    &:hover {
      color: $disabled-text;
    }
  }
}

.floor-edit {
  box-shadow: 0 0 6px rgba($light-purple, 0.3);
  border: 1px dashed $grey-purple;
  min-height: 112px;

  button {
    width: auto;
    margin-left: 10px;
  }
}

.floor-add {
  border: 1px dashed $disabled-text;
  background: $border;
  color: $light-text;
  border-radius: 6px;
  padding: 12px 16px;
  font-size: 0.875rem;
  cursor: pointer;

  i {
    vertical-align: bottom;
    font-size: 1.5rem;
    margin-right: 4px;
  }

  span {
    font-weight: 500;
  }
}

.MapPanelImage {
  width: auto;
  height: auto;
  position: relative;
}

.workstation {
  position: absolute;

  button {
    border-radius: 4px;
    width: 24px;
    height: 24px;
    padding: 3px;
    user-select: none;
    background-color: $link;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-top-color: $link;
      border-bottom: 0;
      margin-left: -4px;
      margin-bottom: -4px;
    }

    .material-icons {
      font-size: 16px;
      color: white;
    }
  }
}

.SidePanelFloorAdder--active {
  background-color: gray;
}

.map-panel {
  background-color: $grey;
  border-radius: 6px;
  width: 100%;
  height: 100%;
}

.map-panel-display-area {
  padding: 16px;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.map-panel-image {
  position: relative;
  display: inline-block;
  height: 100%;
}

.map-panel-image img {
  border-radius: 6px;
  width: auto;
  height: 100%;
  max-width: 100%;
}

.map-new-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $dark-purple;

  border: 10px solid red;

  p:before {
    content: "";
    background: url(../../assets/img/layers.svg) no-repeat center center;
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
  }
}

.workstation {
  position: absolute;
  background-color: $link;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  color: white;
  padding: 3px;
  user-select: none;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top-color: $link;
    border-bottom: 0;
    margin-left: -4px;
    margin-bottom: -4px;
  }

  .material-icons {
    font-size: 16px;
    color: white;
  }
}
