@import "../../../styles/colors.scss";

.popup-select-user-worker-photo-container {
  display: inline-block;
  border-radius: 4px;
  margin: 0 8px 8px 0;

  .material-icons {
    color: $link;
  }

  img {
    height: 40px;
    width: 40px;
    border-radius: 4px;
  }
}
